@import url("variables.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

body {
  background-color: var(--color-red-400);
  background-image: url('../images/bg-intro-mobile.png');
}

.signup {
  padding: 88px 24px;
}

.signup__text {
  color: var(--color-white);
  text-align: center;
  margin-bottom: 64px;
}

.signup__title {
  font-size: 28px;
  line-height: 1.3;
  letter-spacing: -0.3px;
  font-weight: var(--font-weight-bold);
  margin-bottom: 16px;
}

.signup__description {
  font-size: 16px;
  line-height: 1.65;
}

.signup__trial {
  background-color: var(--color-purple-700);
  color: var(--color-white);
  padding: 18px 67px;
  line-height: 1.75;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.25px;
  border-radius: 10px;
  font-weight: var(--font-weight-regular);
  margin-bottom: 24px;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
}

.signup__trial--highlight {
  font-weight: var(--font-weight-bold);
}

.signup__form {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 24px;
  gap: 16px;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
}

.signup__label {
  display: none;
}

.signup__input {
  height: 56px;
  border: 1px solid var(--color-gray-200);
  border-radius: 5px;
  padding: 16px 24px;
  color: var(--color-gray-900);
  font-weight: var(--font-weight-regular);
}

.signup__submit {
  background-color: var(--color-green-400);
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: var(--font-weight-semibold);
  border: none;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 1.75;
  padding: 16px 32px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 0 var(--color-green-500);
}

.signup__terms {
  font-size: 11px;
  color: var(--color-purple-350);
  text-align: center;
  font-weight: var(--font-weight-medium);
  line-height: 1.9;
}

.signup__terms--highlight {
  font-weight: var(--font-weight-bold);
  color: var(--color-red-400);
}

.attribution {
  color: var(--color-gray-200);
  margin-top: 24px;
  font-size: 11px; 
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
  .signup__info {
    margin: 0 auto;
    max-width: 540px;
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url('../images/bg-intro-desktop.png');
  }

  .signup__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    max-width: 80%;
    margin: 0 auto;
  }

  .signup__text {
    text-align: left;
    flex: 1;
    margin-bottom: 0;
    max-width: 525px;
    min-width: 300px;
  }

  .signup__title {
    font-size: 50px;
    line-height: 1.1;
    letter-spacing: -0.5px;
    font-weight: var(--font-weight-bold);
  }

  .signup__description {
    font-size: 16px;
    line-height: 1.65;
    font-weight: var(--font-weight-medium);
  }

  .signup__box {
    width: 540px;
  }

  .signup__trial {
    width: 100%;
  }
}

