@import url("variables.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

.signup {
  background-color: var(--color-red-400);
  padding: 88px 24px;
  background-image: url('../images/bg-intro-mobile.png');
}

.signup__text {
  color: var(--color-white);
  text-align: center;
  margin-bottom: 64px;
}

.signup__title {
  font-size: 28px;
  line-height: 1.3;
  letter-spacing: -0.3px;
  font-weight: var(--font-weight-bold);
  margin-bottom: 16px;
}

.signup__description {
  font-size: 16px;
  line-height: 1.65;
}

.signup__trial {
  background-color: var(--color-purple-700);
  color: var(--color-white);
  padding: 18px 67px;
  line-height: 1.75;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.25px;
  border-radius: 10px;
  font-weight: var(--font-weight-regular);
  margin-bottom: 24px;
}

.signup__trial--highlight {
  font-weight: var(--font-weight-bold);
}

.signup__form {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 24px;
  gap: 16px;
}

.signup__label {
  display: none;
}

.signup__input {
  height: 56px;
  border: 1px solid var(--color-gray-200);
  border-radius: 5px;
  padding: 16px 24px;
}

.signup__input::placeholder {
  color: var(--color-gray-900);
  font-weight: var(--font-weight-regular);
}

.signup__submit {
  background-color: var(--color-green-400);
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: var(--font-weight-semibold);
  border: none;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 1.75;
  padding: 16px 32px;
  border-radius: 5px;
  cursor: pointer;
}

.signup__terms {
  font-size: 11px;
  color: var(--color-purple-350);
  text-align: center;
  font-weight: var(--font-weight-medium);
  line-height: 1.9;
}

.signup__terms--highlight {
  font-weight: var(--font-weight-bold);
  color: var(--color-red-400);
}

.attribution {
  color: var(--color-gray-200);
  margin-top: 24px;
  font-size: 11px; 
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}