@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Color */
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-gray-900: hsl(249, 10%, 26%);
  --color-gray-200: hsl(0, 0%, 87%);
  --color-purple-700: hsl(248, 32%, 49%);
  --color-purple-400: hsl(247, 32%, 72%);
  --color-purple-350: hsl(246, 25%, 77%);
  --color-green-400: hsl(154, 59%, 51%);
  --color-green-300: hsl(154, 65%, 68%);
  --color-red-400: hsl(0, 100%, 74%);

  /* Font */
  --font-family: 'Poppins', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}